<h1>Enter Your Details</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %>
    <%= f.text_field :name , :placeholder => "Enter your Name",class: 'form-control'  %>
    <br>
    <%= f.label :age %>
    <%= f.select :age ,(16..35),class: 'dropdown-menu'  %>
  
    <%= f.label :gender %>
    <%= f.select :gender,options_for_select( %w[Female Male]),prompt: "Select your Gender",class: 'dropdown-menu'  %>
  <br>
  <br>
    <%= f.label :dob %>
    <%= f.date_select :dob , {include_blank: false ,start_year: Date.today.year - 40 ,end_year: Date.today.year - 14 , default: {day:31,month: 1, year: 2001}},class: 'date'  %>
  <br>
  <br>
    <%= f.label :current_school %><br>
    <%= f.text_field :current_school , :placeholder => "Name of your current institution",class: 'form-control'  %>
  <br>
    <%= f.label :current_level %>
    <%= f.text_field :current_level ,:placeholder => "Current education level",class: 'form-control'  %>
  <br>
    <%= f.label :country %>
    <%= f.country_select :country,prompt: "Select your Country" ,class: 'dropdown-menu' %>
  <br>
  <br>
    <%= f.label :sat_score %>
    <%= f.number_field :sat_score ,:placeholder => "Enter your SAT score",class: 'form-control'  %>
   <br>
    <%= f.label :mentor %>
    <%= f.collection_select :mentor_id, Mentor.all,:id,:name ,prompt: "Select your Mentor",class: 'dropdown-menu' %>
      <br>
      <br>
    <%= f.submit "Create Account",class: "btn-btn-primary" %>
    <%= link_to 'Back', students_path , class: "btn-btn-primary" %>  
  <% end %>
  </div>
</div>



