<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mentor.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @mentor.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @mentor.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @mentor.dob %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @mentor.bio %>
</p>

<p>
  <strong>Country:</strong>
  <%= @mentor.country %>
</p>

<%= link_to 'Edit', edit_mentor_path(@mentor) %> |
<%= link_to 'Back', mentors_path %>
