<p id="notice"><%= notice %></p>

<h1>Listing Coll Applications</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>College</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coll_applications.each do |coll_application| %>
      <tr>
        <td><%= coll_application.student.name %></td>
        <td><%= coll_application.college.name %></td>
        <td><%= link_to 'Show', coll_application %></td>
        <td><%= link_to 'Edit', edit_coll_application_path(coll_application) %></td>
        <td><%= link_to 'Destroy', coll_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coll application', new_coll_application_path %>
