<%= form_for(@college) do |f| %>
  <% if @college.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@college.errors.count, "error") %> prohibited this college from being saved:</h2>

      <ul>
      <% @college.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name , :placeholder => "Name of the college" %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country ,:placeholder => "Country"%>
  </div>
  <div class="field">
    <%= f.label :min_sat_score %><br>
    <%= f.text_field :min_sat_score ,:placeholder => "Score required to join"%>
  </div>
  <div class="field">
    <%= f.label :tution_fee %><br>
    <%= f.text_field :tution_fee ,:placeholder => "Fee in USD"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
