<%= form_for(@college) do |f| %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <% if @college.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@college.errors.count, "error") %> prohibited this college from being saved:</h2>

      <ul>
      <% @college.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name %>
    <%= f.text_field :name , :placeholder => "Enter College Name",class: 'form-control'  %>
  <br>
    <%= f.label :country %><br>
    <%= f.country_select :country,prompt: "Select Country" ,class: 'dropdown-menu' %>
  <br>
    <%= f.label :min_sat_score %>
    <%= f.number_field :min_sat_score ,:placeholder => "Enter SAT score required",class: 'form-control'  %>
  <br>
    <%= f.label :tution_fee %><br>
    <%= f.number_field :tution_fee ,:placeholder => "Fee in USD", class: 'form-control' %>
  <br>
    <%= f.submit "Add College",class: "btn-btn-primary" %>
    

<% end %>
